body{
    background-color: white;
    margin: 50px;
    padding: 50px;
    margin-top: 50px;
}
button{
    background-color: aqua;
    color: blue;
    padding: 20px;
    font-size: medium;
    font-style: italic;
}
div{
    padding: 50px;
    background-color:darkgoldenrod;
}